SUPABSE_URL="https://hqekhceovpojuppdrukq.supabase.co"
SUPABSE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhxZWtoY2VvdnBvanVwcGRydWtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTYxODIwMDAsImV4cCI6MjAxMTc1ODAwMH0.yRNasIqxTu8y3j2XlQEjKuj8DVghhWQI6-240g4X1k4"

BUCKET_URL="https://hqekhceovpojuppdrukq.supabase.co/storage/v1/object/public/threads-clone-files"
